@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

// Colors
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);

// Font
$font-stack: "Commissioner";
$font-size: 16px;

body {
  background-color: $moderate-cyan;
}

header {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger-icon {
    cursor: pointer;
  }

  .nav-links {
    width: 100%;
    display: none;

    &.show {
      display: flex;
    }
  }
}
