@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.custom-radio-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.custom-radio-btn input {
  display: none;
}

.custom-radio-btn .checkmark {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #f2eeee;
  border-radius: 50%;
  margin-right: 10px;
  padding: 2px;
}

.custom-radio-btn .checkmark::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #3cb4ac;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.15s;
  transition: -webkit-transform 0.15s;
  transition: transform 0.15s;
  transition: transform 0.15s, -webkit-transform 0.15s;
}

.custom-radio-btn input:checked + .checkmark::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  min-height: 100vh;
  font-weight: 400;
  text-align: center;
  color: #7a7a7a;
  background-color: #f2eeee;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background: url("../images/image-hero-mobile.jpg") no-repeat center/cover;
  height: 41.3vh;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em 0;
}

header .nav-btn {
  cursor: pointer;
}

header #hamburger-icon,
header #menu-close-icon {
  display: none;
}

header #hamburger-icon.show,
header #menu-close-icon.show {
  display: unset;
}

header .nav-links {
  display: none;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  margin: 2em 0;
  z-index: 1;
}

header .nav-links li {
  padding: 1.1em 1.5em;
  border-bottom: 1px solid #ccc;
}

header .nav-links.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .nav-links a {
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: black;
  font-size: 1.5rem;
}

.btn {
  cursor: pointer;
  border: 0;
  background-color: #3cb4ac;
  color: white;
  padding: 0.9em 2em;
  border-radius: 50px;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

input {
  border-radius: 50px;
  border: 2px solid #f2eeee;
  padding: 0.9em 0.5em;
}

.btn:hover {
  background-color: #147b74;
}

.card {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e2e1e1;
  margin: 1em 0;
  padding: 2em 1.5em;
}

main {
  position: relative;
  top: -50%;
  -webkit-transform: translateY(-4%);
          transform: translateY(-4%);
}

.product-summary {
  position: relative;
}

.product-summary .product-logo {
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.product-summary h1 {
  margin-top: 1em;
}

.product-summary p {
  margin: 1.5em 0;
}

.product-summary .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-summary .action a.btn {
  -webkit-box-flex: 0.9;
      -ms-flex: 0.9;
          flex: 0.9;
}

.product-summary .action .bookmark {
  cursor: pointer;
  -webkit-box-flex: fit-content;
      -ms-flex: fit-content;
          flex: fit-content;
  background-color: #eee;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.product-summary .action .bookmark .collapse-bookmark {
  display: none;
  padding: 1em 1.5em 1em 1em;
  font-weight: 600;
}

.product-summary .action .bookmark .bookmark-icon circle {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.product-summary .action .bookmark .bookmark-icon path {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.product-summary .bookmarked {
  color: #147b74;
}

.product-summary .bookmarked .bookmark-icon circle {
  fill: #147b74;
}

.product-summary .bookmarked .bookmark-icon path {
  fill: white;
}

.product-stats .stat {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.product-stats .stat:nth-child(1)::after, .product-stats .stat:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30%;
  height: 1px;
  background-color: #ccc;
}

.product-stats h3 {
  font-weight: 700;
  font-size: 2rem;
}

.product-stats span {
  display: inline-block;
  margin: 0.5em 0;
  font-size: 0.9rem;
}

.product-stats .progress-bar {
  background-color: #eee;
  width: 100%;
  height: 10px;
  border-radius: 50px;
}

.product-stats .progress-bar .indicator {
  width: 89%;
  height: 100%;
  background-color: #3cb4ac;
  border-radius: 50px;
}

.pledge-price {
  color: #3cb4ac;
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
}

.bold-black-text {
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

.quantity {
  font-weight: 700;
  font-size: 2rem;
  color: black;
  margin-right: 0.3em;
}

.product-details {
  text-align: left;
}

.product-details h4 {
  font-size: 1.3rem;
}

.product-details p {
  margin: 1.5em 0;
  font-size: 0.9rem;
}

.product-details .modal h4 {
  font-size: 1rem;
}

.product-details .modal .card-title,
.product-details .modal .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-details .modal .card-footer {
  margin: 2em 0 0;
}

.product-details .modal .quantity-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-details .modal a.btn {
  display: inline-block;
  margin-top: 1em;
  padding: 0.9em 2em;
}

.selection-modal {
  display: none;
}

.selection-modal,
.success-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection-modal .modal-content,
.success-modal .modal-content {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.success-modal .modal-content {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success-modal .modal-content .check-icon {
  margin-bottom: 1.5em;
}

.success-modal .modal-content p {
  padding: 1.5em 0;
}

.success-modal .modal-content a.btn {
  margin-top: 1em;
}

.selection-modal {
  padding: 7em 0;
}

.selection-modal .modal-content {
  text-align: left;
  position: relative;
}

.selection-modal .modal-content .card {
  padding: 1.5em 2em;
}

.selection-modal .modal-content .modal-close-icon {
  cursor: pointer;
  position: absolute;
  top: 2.5%;
  right: 8%;
}

.selection-modal .modal-content p {
  padding: 1em 0;
  font-size: 0.9rem;
}

.selection-modal .modal-content .quantity {
  font-size: 1.7rem;
}

.selection-modal .modal-content .selected-pledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selection-modal .modal-content .selected-pledge .selected-pledge-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5em;
}

.selection-modal .modal-content .selected-pledge .selected-pledge-form input {
  display: inline-block;
  width: 10%;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.selection-modal .modal-content .selected-pledge .selected-pledge-form input::-webkit-input-placeholder {
  padding: 1em;
  font-family: "Commissioner";
  font-size: 16px;
  font-weight: 600;
  color: #7a7a7a;
}

.selection-modal .modal-content .selected-pledge .selected-pledge-form input:-ms-input-placeholder {
  padding: 1em;
  font-family: "Commissioner";
  font-size: 16px;
  font-weight: 600;
  color: #7a7a7a;
}

.selection-modal .modal-content .selected-pledge .selected-pledge-form input::-ms-input-placeholder {
  padding: 1em;
  font-family: "Commissioner";
  font-size: 16px;
  font-weight: 600;
  color: #7a7a7a;
}

.selection-modal .modal-content .selected-pledge .selected-pledge-form input::placeholder {
  padding: 1em;
  font-family: "Commissioner";
  font-size: 16px;
  font-weight: 600;
  color: #7a7a7a;
}

.selection-modal .modal-content .selected-pledge .selected-pledge-form .btn {
  font-weight: 600;
}

@media (min-width: 700px) {
  .container {
    width: 80%;
  }
  .card {
    padding: 2em;
  }
  header {
    background: url("../images/image-hero-desktop.jpg") no-repeat;
    background-size: cover;
  }
  header .nav-btn {
    display: none;
  }
  header .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: unset;
    background-color: unset;
  }
  header .nav-links li {
    padding: unset;
    border: unset;
  }
  header .nav-links a {
    padding-left: 2em;
    color: white;
    font-size: 1.1rem;
  }
  main .container {
    max-width: 700px;
    margin: 0 auto;
  }
  .product-summary .action {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product-summary .action a.btn {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  .product-summary .action .bookmark {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  .product-summary .action .bookmark .collapse-bookmark {
    display: unset;
  }
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-stats .stat {
    padding: 0;
    margin: 0 0 2em 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
  }
  .product-stats .stat:nth-child(2), .product-stats .stat:nth-child(3) {
    padding-left: 2.5em;
  }
  .product-stats .stat:nth-child(1)::after, .product-stats .stat:nth-child(2)::after {
    width: 1px;
    height: 60px;
    left: unset;
    right: 0%;
    bottom: 10%;
  }
  .product-details .modal {
    padding: 2em;
  }
  .product-details .modal .card-title,
  .product-details .modal .card-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-details .modal a.btn {
    margin: 0;
  }
  .pledge-price {
    margin-top: unset;
    margin-left: 1.5em;
  }
  .selection-modal .modal-content .modal-close-icon {
    top: 4%;
    right: 5%;
  }
  .selection-modal .modal-content .selected-pledge {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 1em;
    margin-top: 1em;
  }
  .selection-modal .modal-content .selected-pledge .selected-pledge-form {
    margin-top: 0;
  }
  .selection-modal .modal-content .form-control {
    position: relative;
  }
  .selection-modal .modal-content .form-control p {
    padding-left: 2em;
  }
  .selection-modal .modal-content .form-control .quantity-left {
    position: absolute;
    top: 3%;
    right: 6%;
  }
  .selection-modal .modal-content .form-control .quantity {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=style.css.map */